<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{% block title %}Sistema de Tickets{% endblock %}</title>
	{% block extra_head %}{% endblock %}
</head>
<body>
	<!-- Cabecera -->
	<header>
		<nav>
			<div>
				{% if user.is_authenticated %}
					<a href="{% url 'usuarios:perfil' %}">Mi Perfil</a>
				{% else %}
					<a href="{% url 'login' %}">Iniciar Sesión</a>
					<a href="{% url 'usuarios:registro' %}">Registrarse</a>
				{% endif %}
			</div>
		</nav>
	</header>

	<main>
		{% if messages %}
			<div>
				{% for message in messages %}
					<div>{{ message }}</div>
				{% endfor %}
			</div>
		{% endif %}

		{% block content %}

		{% endblock %}
	</main>

	<footer>
		<div>
			<p>Sistema de Ventas de Tickets © {% now "Y" %}</p>
		</div>
	</footer>
</body>
</html>